Quileia/web/WEB-INF/wsdl/localhost_27697/QuileiaWSListarMedicos/WSListMedicos.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://PWebServices/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://PWebServices/">

<xs:element name="listarMedicos" type="tns:listarMedicos"/>

<xs:element name="listarMedicosResponse" type="tns:listarMedicosResponse"/>

<xs:element name="readByParam" type="tns:readByParam"/>

<xs:element name="readByParamResponse" type="tns:readByParamResponse"/>

<xs:complexType name="listarMedicos">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarMedicosResponse">
<xs:sequence>
<xs:element name="return" type="tns:medico" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="medico">
<xs:complexContent>
<xs:extension base="tns:user">
<xs:sequence>
<xs:element name="anosExp" type="xs:double"/>
<xs:element name="especialidad" type="xs:string" minOccurs="0"/>
<xs:element name="horaFin" type="xs:string" minOccurs="0"/>
<xs:element name="horaInicio" type="xs:string" minOccurs="0"/>
<xs:element name="numTarjetaProf" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="user">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="identificacion" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="tipoID" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="readByParam">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:int"/>
<xs:element name="arg3" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="readByParamResponse">
<xs:sequence>
<xs:element name="return" type="tns:medico" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>